* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dancing Script', cursive;
}

.container {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex-direction: column;
  margin-top: 30px;
}

.container h1 {
  font-size: clamp(2.3rem, 6vw, 6.5rem);
  position: relative;
  padding: 0 20px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.container h1::after {
  content: ' ';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  transform-origin: 100% 0;
}

.box {
  width: 100%;
  max-width: 500px;

  /* background-color: blue; */
}

.box svg {
  width: 100%;
  height: 100%;
}
